NOVA_CHAIN_ID=22016
NOVA_NETWORK_ID=22016
NOVA_BLOCK_PERIOD_SECONDS=5
NOVA_EPOCH_LENGTH=30000
NOVA_REQUEST_TIMEOUT_SECONDS=10
NOVA_GAS_LIMIT=30000000
NOVA_BASE_FEE_MAX_CHANGE_DENOMINATOR=8
NOVA_BOOTNODE_HOST=bootnode
NOVA_BOOTNODE_PORT=30303
NOVA_RPC_HTTP_PORT=8545
NOVA_RPC_WS_PORT=8546
NOVA_METRICS_PORT=9545
NOVA_LOG_LEVEL=INFO
